@import "./normalize.css";

:root {
  --color-text: #666;
  --color-high-text: #ff3656;
  --color-tint: #ff627b;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
  /*overflow-x: hidden;*/
}

a {
  color: var(--color-text);
  /*去除a标签的默认下划线*/
  text-decoration: none;
  /*去除移动端下 a标签的点击高亮*/
  -webkit-tap-highlight-color: transparent;
}

/*清除浮动的公共类*/
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

/*clear-fix这个class需要添加zoom: 1（触发haslayout），才能支持IE6和IE7浏览器*/
.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
